div.stf-device-list
  .row
    .col-md-12
      .widget-container.fluid-height
        .widget-content.padded
          tabset.overflow-auto
            tab(active='activeTabs.devices')
              tab-heading
                i.fa.fa-th-large
                span(translate) Devices
              nothing-to-show(message='{{"No devices connected"|translate}}', icon='fa-sitemap', ng-show='!tracker.devices.length')

              ul.devices-icon-view
                li(ng-repeat='device in tracker.devices | filter:{usable:true} | orderBy:"name" track by device.serial',
                ng-click='toggle(device)',
                ).cursor-select.pointer.thumbnail
                  .device-photo-small
                    img(ng-src='{{device.image ? "/static/devices/" + device.image : "/static/bower_components/stf-graphics/devices/small/default.jpg" }}')
                  .device-name(title='{{device.serial}} - {{device.model}}') {{ device.name || device.model }}
                  //raphael-status-icon.device-status-button(status='{{ deviceStatus(device) }}', title="{{ deviceStatusText(device) }}", tooltip='{{ deviceStatusText(device)|translate }}')
                  button(ng-class='{"btn-primary": device.state == "using", "btn-primary-outline": device.state == "available"}').btn.btn-xs.device-status {{statusName(device)}}
                .clear-fix
              .clear-fix
              .line
              ul.devices-icon-view
                li(ng-repeat='device in tracker.devices | filter:{usable:false} | orderBy:"name" track by device.serial',
                ng-disabled='true',
                ).cursor-select.pointer.thumbnail.device-is-busy
                  .device-photo-small
                    img(ng-src='{{device.image ? "/static/devices/" + device.image : "/static/bower_components/stf-graphics/devices/small/default.jpg" }}')
                  .device-name(title='{{device.serial}} - {{device.model}}') {{ device.name || device.model }}
                  //raphael-status-icon.device-status-button(status='{{ deviceStatus(device) }}', title="{{ deviceStatusText(device) }}", tooltip='{{ deviceStatusText(device)|translate }}')
                  button.btn.btn-default.btn-xs.device-status {{statusName(device)}}
                .clear-fix

            tab(active='activeTabs.details')
              tab-heading
                i.fa.fa-list(translate)
                span(translate) Details
              nothing-to-show(message='{{"No devices connected"|translate}}', icon='fa-sitemap', ng-show='!tracker.devices.length')

              .filtering-buttons
                clear-button(ng-click="tableParams.sorting({}); tableParams.filter({})")
                filter-button(ng-model='filterEnabled')
                .button-spacer.pull-right
                button(btn-checkbox, ng-model='showAll').btn.btn-sm.btn-primary-outline.pull-right
                  i.fa.fa-list-alt
                  span {{"Show All"|translate}}

              table.table.table-hover.dataTable(ng-table='tableParams',
              show-filter='filterEnabled', ng-show='tracker.devices.length')
                tr(ng-repeat='device in $data', ng-class='{ "device-not-usable": !device.usable }')
                  td(data-title="'Status'",
                  sortable='"state"',
                  filter="{ 'usable': 'select' }",
                  filter-data="statusFilter($column)")
                    button(ng-class='{"btn-primary": device.state == "using", \
                    "btn-primary-outline": device.state == "available"}',
                      ng-click='device.usable && toggle(device)').btn.btn-xs.device-status {{statusName(device)}}
                  td(data-title="'Model'|translate", sortable='"model"', filter='{"model": "text"}')
                    span {{device.model}}
                  td(data-title="'Product'|translate", sortable='"name"', filter='{"name": "text"}')
                    span {{device.name}}
                  td(data-title="'Carrier'|translate", sortable='"operator"', filter='{"operator": "text"}')
                    span {{device.operator}}
                  td(data-title="'Release'|translate", sortable='"releasedAt"', filter='{"releasedAt": "text"}')
                    span {{device.releasedAt | date:'yyyy/MM/dd'}}
                  td(data-title="'OS'|translate", sortable='"version"', filter='{"version": "text"}')
                    span {{device.version}}
                  td(data-title="'Screen'|translate", sortable='"display.width"', filter='{"display.width": "text"}')
                    span {{device.display.width}}x{{device.display.height}}
                  td(data-title="'Location'|translate", sortable='"provider.name"', filter='{"provider.name": "text"}')
                    span {{device.provider.name}}
                  td(data-title="'User'|translate", sortable='"owner.name"', filter='{"owner.name": "text"}')
                    a(ng-if='device.owner', ng-href='{{userContactUrl(device.owner.email)}}', role='button', target='_href') {{device.owner.name || "No name"}}
                    a(ng-if='!device.owner') -
                  td(ng-show='showAll', data-title="'Phone number'", sortable='"phone.phoneNumber"', filter='{"phone.phoneNumber": "text"}')
                    span {{device.phone.phoneNumber}}


              //p
                strong Sorting
                pre {{tableParams.sorting() | json}}
                pre {{tableParams.filter() | json}}


//ul
  li(ng-repeat='device in tracker.devices track by device.serial')
    pre {{device|json}}
