.widget-container.fluid-height.stf-navigation(ng-controller='NavigationCtrl')
  .heading
    stacked-icon(icon='fa-globe', color='color-blue')
    span(translate) Navigation
    span
      button.btn.btn-xs.btn-danger-outline.pull-right(ng-click='clearSettings()',
      uib-tooltip='{{ "Reset all browser settings" | translate }}')
        i.fa.fa-trash-o
        span(translate) Reset
      //.button-spacer.pull-right
      //i.fa.fa-refresh.pull-right(ng-click='refresh()', title='{{"Reload"|translate}}')
      //i.fa.fa-step-forward.pull-right(ng-click='forward()', title='{{"Go Forward"|translate}}')
      //i.fa.fa-step-backward.pull-right(ng-click='back()', title='{{"Go Back"|translate}}')
  .widget-content.padded
    form(enable-autofill, ng-submit='openUrl()')
      .input-group.url-input-container
        input.form-control(type='text', name='textURL', placeholder='http://...',
        autocomplete='url', ng-model='textURL', text-focus-select,
        autocapitalize='off', spellcheck='false', blur-element='blurUrl'
        accesskey='N', tabindex='10', ng-change='textUrlChanged()',
        focus-element='nav.focusUrl')
        img(ng-src='{{urlFavicon}}')

        .input-group-btn
          button(ng-click='openURL()', ng-disabled='!textURL', translate).btn.btn-primary-outline Open

    .btn-group
      .btn-group.browser-buttons(ng-click='nav.focusUrl = true')
        label.btn.btn-default-outline(ng-repeat='browserRadio in device.browser.apps track by browserRadio.id', ng-model='$root.browser', uib-btn-radio='browserRadio',
        uib-tooltip='{{browserRadio.name}} ({{browserRadio.developer}})')
          img(ng-src='/static/app/browsers/icon/36x36/{{browserRadio.type}}.png', ng-show='browserRadio.type').browser-icon.pointer
